<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Suministro'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="suministros index large-9 medium-8 columns content">
    <h3><?= __('Suministros') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id_suministro') ?></th>
                <th scope="col"><?= $this->Paginator->sort('nombre') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($suministros as $suministro): ?>
            <tr>
                <td><?= $this->Number->format($suministro->id_suministro) ?></td>
                <td><?= h($suministro->nombre) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $suministro->id_suministro]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $suministro->id_suministro]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $suministro->id_suministro], ['confirm' => __('Are you sure you want to delete # {0}?', $suministro->id_suministro)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
