<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Solicitude'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="solicitudes index large-9 medium-8 columns content">
    <h3><?= __('Solicitudes') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id_solicitud') ?></th>
                <th scope="col"><?= $this->Paginator->sort('id_usuario') ?></th>
                <th scope="col"><?= $this->Paginator->sort('estado_solicitud') ?></th>
                <th scope="col"><?= $this->Paginator->sort('fecha_emision') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($solicitudes as $solicitude): ?>
            <tr>
                <td><?= $this->Number->format($solicitude->id_solicitud) ?></td>
                <td><?= $this->Number->format($solicitude->id_usuario) ?></td>
                <td><?= $this->Number->format($solicitude->estado_solicitud) ?></td>
                <td><?= h($solicitude->fecha_emision) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $solicitude->id_solicitud]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $solicitude->id_solicitud]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $solicitude->id_solicitud], ['confirm' => __('Are you sure you want to delete # {0}?', $solicitude->id_solicitud)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
